# Auth Service
AUTH_JWT_SECRET=change_me_super_secret
AUTH_JWT_ALG=HS256
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Bot Service
BOT_TELEGRAM_TOKEN=your_token
BOT_JWT_SECRET=change_me_super_secret
BOT_JWT_ALG=HS256
BOT_OPENROUTER_API_KEY=your_token
BOT_OPENROUTER_MODEL=google/gemini-2.0-flash-001